# Recovery device permissions, installed as /vendor/etc/ueventd.rc.
# TEE nodes require system:drmrpc; qseecomd uses the system-owned RPMB node.
firmware_directories /apex/com.xiaomi.wifi/etc/firmware/ /data/vendor/bdf/ /vendor/firmware_mnt/image/ /vendor/modem_firmware/image/ /vendor/soccp_firmware/image/ /vendor/dcp_firmware/image/ /odm/firmware /vendor/firmware /lib/firmware

/dev/dri/* 0660 root graphics
/dev/input/* 0660 root input
/dev/uinput 0660 root input
/dev/xiaomi-touch 0660 root input
/sys/class/backlight/panel0-backlight brightness 0660 root graphics

subsystem dma_heap
    devname uevent_devpath
    dirname /dev/dma_heap
subsystem mem_buf_vm
    devname uevent_devpath
    dirname /dev/mem_buf_vm

/dev/qseecom              0660   system     drmrpc
/dev/qce                  0660   system     drmrpc
/dev/smcinvoke            0660   system     drmrpc
/dev/qsee_ipc_irq_spss    0660   system     drmrpc
/dev/pft                  0660   system     drmrpc

# UFS RPMB listener used by qseecomd for TEE secure storage.
/dev/0:0:0:49476           0600   system     system
/dev/nq-nci               0660   nfc        nfc

/dev/ion                  0664   system     system
/dev/membuf               0664   system     system
/dev/mem_buf_vm/*         0444   system     system
/dev/dma_heap/qcom,*      0444   system     system
